<div>
  <h2 class="text-xs font-semibold uppercase tracking-wider text-woodsmoke-400 mb-4">
    <%= @releases.size %> Versions
  </h2>

  <% if @official_releases.any? %>
    <div class="space-y-2">
      <% @official_releases.each do |release| %>
        <%= render "release_groups/version_row", release: release %>
      <% end %>
    </div>
  <% elsif @unofficial_releases.empty? %>
    <div
      class="
        p-8 text-center rounded-sm border border-woodsmoke-800
        bg-woodsmoke-925
      "
    >
      <p class="text-woodsmoke-400">No versions found.</p>
    </div>
  <% end %>

  <% if @unofficial_releases.any? %>
    <div class="mt-6">
      <h3
        class="
          text-xs font-semibold uppercase tracking-wider text-woodsmoke-400
          mb-4
        "
      >
        <%= @unofficial_releases.size %> Unofficial
        <%= "Release".pluralize(@unofficial_releases.size) %>
      </h3>

      <div class="space-y-2">
        <% @unofficial_releases.each do |release| %>
          <%= render "release_groups/version_row", release: release %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
